---
import Button from "../ui/button.astro";

---


<section id="about" class="min-h-screen w-full px-6 lg:px-[7.8rem] xl:px-[8.8rem] flex flex-col items-center  justify-center bg-color-p-1">
    <h2 class="lg:h1 text-5xl font-extrabold text-black text-center mb-10 lg:eading-[5rem]">
        Join us on email for <br/>
        <span class="text-color-p-2 ">more trending topics</span>
    </h2>
    <Button href="#signup" className="bg-black text-white px-16 py-6">
        Join Now
    </Button>
</section>