---
import Layout from '../layouts/Layout.astro';
import Header from '../components/widgets/header.astro'
import Hero from '../components/sections/hero/index.astro'
import NewTabs from '../components/sections/new-tabs/index.astro'
import AboutUs from '../components/sections/about-us/index.astro'
import Pricing from '../components/sections/pricing/index.astro'
import CallToAction from '../components/sections/call-to-action.astro';

---

<Layout title="Findtrend - Find the trends">
	<Header />
	<main class="pt-20">
		<Hero />
		<NewTabs />
		<AboutUs />
		<Pricing />
		<CallToAction />
	</main>

</Layout>

