---
import Layout from '../layouts/Layout.astro';
import Header from '../components/widgets/header.astro'
import Hero from '../components/sections/hero/index.astro'
import NewTabs from '../components/sections/new-tabs/index.astro'
import AboutUs from '../components/sections/about-us/index.astro'
---

<Layout title="Welcome to Astro.">
	<Header />
	<main class="pt-36">
		<Hero />
		<NewTabs />
		<AboutUs />
	</main>

</Layout>

