---
import Tooltip from "../../ui/tooltip.astro";
import CardSocmed from "../../widgets/card-socmed.astro";

---

<section class="min-h-screen w-full px-6 lg:px-[7.8rem] xl:px-[8.8rem] flex flex-col items-center  justify-center bg-color-p-1">
  <h2 class="h2 text-black mb-[4.125rem] lg:mb-[3.125rem] whitespace-nowrap overflow-hidden">Open new tabs is sh*t </h2>
   <div class="bg-white rounded-2xl w-96 h-36 lg:w-[31.250rem] lg:h-[12.550rem] flex items-center justify-center relative mb-[4.125rem] lg:mb-[3.125rem]">
     <Tooltip title="solution for discover a trend" black left className="lg:top-1/2 top-44 left-0 rotate-2 lg:rotate-12 lg:-left-32" arrowTop/>
     <CardSocmed icon="/logo.svg" title="Findtrend - Elon Musk" className="static rotate-0" background="black"/>
     <Tooltip title="You just need one tab now" black right className="lg:top-1/2 -top-4 left-auto right-0 rotate-2 lg:rotate-12 lg:-right-32 "/>
   </div>
    
  <p class="body-1 text-black text-center w-auto lg:w-[42rem] ">A solution for your browser tabs and don’t make your device get slower over time. Get ease and faster to discover a trend with just one tab.</p>
</section>