<section class="h-auto pb-12 lg:pb-0 lg:min-h-screen w-full px-6 lg:px-[7.8rem] xl:px-[8.8rem] flex flex-col items-center justify-center bg-white ">
 <h3 class="h3 text-black">Findtrend helps you to increase your productivity and reduce your computer's memore load, <span class="text-color-b-4">
    an application that can fulfill your daily browsing needs.</span></h3>
</section>